body {
	margin: 0;
	background-color: #222;
}

.message {
	border-style: dashed none;
	border-width: 4px;
	position: fixed;
	background: #FEFE06;
	font-size: 30px;
	width: 800px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0 0 13px 0;
	height: 27px;
    letter-spacing: 0.5px;
	font-family: 'PT Sans Narrow';
	transition: all 1s ease-in-out;
}

#top {
	text-align: left;
	-webkit-transform: translate(-8%, 230%) rotate(-25deg);
	-moz-transform: translate(-8%, 230%) rotate(-25deg);
	transform: translate(-8%, 230%) rotate(-25deg);
}

#bottom {
	text-align: right;
	bottom: 0;
	right: 0;
	-webkit-transform: translate(8%, -230%) rotate(-25deg);
	-moz-transform: translate(8%, -230%) rotate(-25deg);
	transform: translate(8%, -230%) rotate(-25deg);
}

#centerContent {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 55vmin;
	height: 25vmin;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	text-align: center;
	font-family: 'Patrick Hand SC';
	padding: 20px;
	font-size: 8vmin;
	transition: all 0.8s;
}

.myName {
	color: #eee;
	letter-spacing: 1px;
}

.links {
	display: flex;
	justify-content: space-around;
	width: 70%;
	align-self: center;
}

.links a {
	color: #eee;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.links a:hover {
	color: #1F86A2;
	opacity: 0.5;
}

.links a:active {
	opacity: 1;
}

@font-face {
	font-family: 'PT Sans Narrow', sans-serif;
	font-family: 'Patrick Hand SC', cursive;
}

@media screen and (max-width: 750px), (max-height: 500px) {

	.message {
		width: 1600px;
	}

	#top, #bottom {
		transform: none;
	}

}

@media screen and (max-width: 750px) and (max-height: 500px) and (min-height: 320px) {

	#centerContent {
		width: 65vmax;
		height: 25vmax;
		font-size: 10vmax;
	}

}
